/*Navbar
/******************************************/

.navbar{
    position:fixed;

	height:70px;
	width:100%;
	min-width:800px;

	background-color:#57BC90;
	font-size:32px;
	color:#F7F7F7;
    
    line-height:70px;
    text-align:center;
	
}

.navitem{
    display:inline-block;
    vertical-align:middle;
    margin-left:17px;
    margin-right:17px;
    
    height:41px;
    width:41px;
}

.navcontainer{
    position:relative;
}
.navcontainer:before{
    display:inline-block;
    height:100%;
    vertical-align:middle;
    content:"";
}

a:hover{
    cursor:pointer;
    
}

.search{
    width:300px;
    height:20px;
    text-align:left;
}

.logo{
    cursor:auto;
    height:60px;
    width:60px;
}

.notifications{
}

.friendReqs{
}

.profile{
}

.settings{
}

.settings-drop{
    position:fixed;
    width:41px;
    display:none;
    background-color:orange;
}
.logout{
    margin-top:20px;
    height:20px;
    width:100%;
    position:relative;
    display:none;
    color:orange;
    background-color:green;
    content:"";
}